<style>
    md-grid-list {
        margin: 8px; }
    .gray {
        background: #f5f5f5; }
    .green {
        background: #b9f6ca; }
    .yellow {
        background: #ffff8d; }
    .blue {
        background: #84ffff; }
    .purple {
        background: #b388ff; }
    .red {
        background: #ff8a80; }
    md-grid-tile {
        transition: all 400ms ease-out 50ms; }
</style>
<md-whiteframe class="md-whiteframe-3dp"
               style="max-width:1024px"
               layout="column" layout-align="center center">

    <div layout="column" flex layout-align="start start" style="width:100%">
        <div class="md-title"> 수입/지출 관리 </div>
        <hr/>
        <p class="md-body-1"> 아래의 버튼을 통해 해당 수입/지출 관리 페이지로 이동 하실수 있습니다.</p>
        <span flex></span>
    </div>

    <div layout="column" flex style="width:100%; ">
        <md-grid-list
                md-cols-xs="2" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3"
                md-row-height-gt-md="1:1" md-row-height="2:2"
                md-gutter="12px" md-gutter-gt-sm="8px" >
            <md-grid-tile class="gray"
                          ng-click="goTo('frames')"
                          md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                <div>일일 수입, 지출</div>
            </md-grid-tile>
            <md-grid-tile class="green"
                          ng-click="goTo('doors')"
                          md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                <div> 수입, 지출 - 기간조회 </div>
            </md-grid-tile>
            <md-grid-tile class="blue"
                          ng-click="goTo('gates')"
                          md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                <div> 계정과목 관리 </div>
            </md-grid-tile>
        </md-grid-list>
    </div>
</md-whiteframe>