<style>li{margin:10px;}</style>
<div class="md-title"> KFPD Project </div>
<md-content>
    <div class="md-title"> Plan </div>
    <ul>
        <li>
            <div>2/24: Product forms</div>
            <div>Product Frame, Door, Gate, Parts page</div>
            <div>Product forms option service</div>
            <div>Product forms responsive Menus</div>
        </li>
        <li>
            <div>2/25: Customer form + Product form</div>
            <div>Integrate Two forms into sales Form</div>
            <div>Multi Path update for total </div>
        </li>
        <li>
            <div>2/26: In and outcome form</div>
            <div>Create 3 views daily, search by period, list</div>
        </li>
    </ul>



    <div id="grid1" ui-grid="{ data: myData }" class="grid"></div>

</md-content>