<md-whiteframe class="md-whiteframe-3dp"
               style="max-width:1024px"
               layout="column" layout-align="center center">

    <div layout="row" flex layout-align="start center" style="width:100%">
        <div class="md-title"><a href="#/product">제품관리</a>  > {{title}}  </div>
        <span flex></span>
        <md-button class="md-raised" href="#/parts">목록</md-button>
    </div>

    <md-content style="width:100%;">
        <form name="partForm" ng-submit="action1Process()">
            <md-button class="md-primary md-raised" type="submit"> {{action1}} </md-button>
            <md-button class="md-warn md-raised" ng-click="action2Process()"> {{action2}} </md-button>

            <md-toolbar style="   background-color: white; color: black; height: 32px; min-height:0px;">
                <h2 class="md-toolbar-tools">
                    <span flex> 기본 정보 및 폭별 단가 </span>
                </h2>
            </md-toolbar>
            <hr style="margin:0px;"/>


            <div layout="row" layout-xs="column" style="width:100%; padding:7px;">
                <div flex layout="column">
                    <div layout="column" layout-align="start start">
                        <label>부품명</label>
                        <div layout="row" layout-align="start start">
                            <md-input-container class="md-block">
                                <input ng-model="partObj.name" type="text" placeholder="부품명">
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="column" layout-align="start start">
                        <label>규격</label>
                        <div layout="row" layout-align="start start">
                            <md-input-container class="md-block">
                                <input ng-model="partObj.standard" type="text" placeholder="규격">
                            </md-input-container>
                        </div>
                    </div>

                    <div layout="row" layout-xs="column" style="width:100%; padding:7px;">
                        <md-input-container class="md-block">
                            <label>비고</label>
                            <textarea ng-model="partObj.note" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>

            <md-toolbar style="background-color:white; color:black;    height: 32px; min-height:0px;">
                <h2 class="md-toolbar-tools">
                    <span flex> 가격 적용일 및 옵션 가격 </span>
                </h2>
            </md-toolbar>
            <hr style="margin:0px;"/>
            <div layout="column" style="width:100%; padding:7px;">
                <div layout-gt-xs="row" flex-gt-xs>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>단가: {{partObj.orgPrice | number}}원</label>
                        <input type="number" ng-model="partObj.orgPrice">
                    </md-input-container>
                    <md-datepicker flex-gt-xs ng-model="partObj.startDate" md-placeholder="Enter date">
                    </md-datepicker>
                </div>
                <div layout="row" layout-align="start center" flex-gt-xs>
                    <md-input-container class="md-block">
                        <input ng-model="partObj.tax" type="number" placeholder="부가세 별도 가격(원)">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <input ng-model="partObj.taxRate" type="number" placeholder=" 부가세(원)">
                    </md-input-container>
                </div>
            </div>

            <div>
                <md-input-container class="md-block">
                    <label>비고</label>
                    <textarea ng-model="partObj.note" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                </md-input-container>
            </div>

            <md-button class="md-primary md-raised" type="submit"> {{action1}} </md-button>
            <md-button class="md-warn md-raised" ng-click="action2Process()"> {{action2}} </md-button>
        </form>

        <md-toolbar style="background-color:white; color:black;    height: 32px; min-height:0px;">
            <h2 class="md-toolbar-tools">
                <span flex> 거래 이력 </span>
            </h2>
        </md-toolbar>
    </md-content>

</md-whiteframe>